<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">        
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- ckeditor -->
    <script src="https://cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Password Management System</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Password Category
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/addCategory"> Add New Category</a></li>
                <li><a href="/passCategory">View All Category</a></li>
                
              </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Password Details
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/addPassword"> Add New Password </a></li>
                  <li><a href="/viewPassword">View All Password</a></li>
                  
                </ul>
              </li>
               <li><a href="/logout">LogOut</a></li>
          </ul>
          <div class="navbar-header" style="float:right;">
            <a class="navbar-brand" href="#">Loggin As :  <% if(loginUser){ %><%= loginUser %><% }%> </a>
          </div>
        </div>
      </nav>


      <div class="container">
        <div class="row">
          
          <div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3  col-sm-offset-2">
            <div class="panel panel-info">
              <div class="panel-heading">
                <div class="panel-title">Edit Password Category </div>
                <div style="float:right; font-size: 85%; position:relative;top:-10px">
              </div>
            </div>
              <div class="panel-body">
                <form action="/edit_password" class="form-horizontal" role="form" method="post">
      
                  <% if(success!=''){ %>
                  <p style="text-align: center;color: green;"><%= success %></p>
                  <% } %>
                  <div class="form-group">
                    <label for="username" class="col-md-3 control-label"> Choose Password Category</label>
                    <div class="col-md-9">
                    <select class="form-control " name="pass_cat">
                      <% if(records.length>0){
                      records.forEach(function(row){

                    %>
                      <option value="<%= row.password_category %>"<% if(row.password_category==record.password_category){ %> selected <% } %>><%= row.password_category %></option>
                      <%   }) }     %>
                    </select>
                    </div>
                  </div>

                   <div class="form-group">
                    <label for="username" class="col-md-3 control-label">Project Name</label>
                    <div class="col-md-9">
                      <input type="hidden" value="<%= record._id %>" name="id"/>
                      <input type="text"  class="form-control" name="project"  value="<%= record.project_name %>" placeholder=" Enter Your  Project Name"/> 
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="username" class="col-md-3 control-label">Password Details</label>
                    <div class="col-md-9">
                      <textarea  class="form-control" name="pass_details" id="editor1" rows="3" placeholder=" Enter Your Password Detail"><%= record.password_details %></textarea> 
                    </div>
                  </div>
  

      
                  <div class="form-group">
                    <div class="col-md-offset-3 col-md-9">
                      <input type="Submit" type="button" class="btn btn-info" value="Add Password" name="submit"> 	        	
                    </div>
                   </div>
                   <p class="text-center">Already have an account  <a href="/viewPassword">View All Password List</a></p> 
       
                   
                    </form>
                  </div>			
             </div>		
           </div>
         </div>
      </div> 



       <script>
                 CKEDITOR.replace( 'editor1' );
      </script>   
  </body>
</html>
